*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTENITORE */

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LATO SINISTRO */

.slider {
    width: 55%;
    height: 60vh;
    background-color: black;
}

/* LATO DESTRO */

.thumbnails {
    width: 15%;
    height: 60vh;
    position: relative;
}

/* FORMATO IMG */

.item {
    height: 60vh;
    background-color: black;   
} 

.item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

/* DIVISIONE IMG IN 5 */

.thumbnails .item {
    height: calc(60vh / 5);  
    object-fit: cover;
}

.sopra,
.sotto{
    color: white;
    position: absolute;
    left: 45%;
    text-align: center;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0);
    border-radius: 50%;
    line-height: 31px;
    cursor: pointer;
}
.sopra {
    top: 1%;
}

.sotto {
    bottom: 1%;
}

